* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            #ffffff 100%);
}


.personalize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 1.5rem 0;
    padding: 2rem 0;
}

.signinBtn {
    width: 15vw;
    background-color: #fbd519;
    border: 1px solid #FCD200;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    cursor: pointer;
}

.signinBtn:hover {
    background-color: #fcc325;
}

.backToTop {
    display: block;
    width: "100%";
    background-color: #37475A;
    color: #fff;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
    opacity: 1;
}

.backToTop:hover {
    opacity: 0.9;
    color: #fff;
}

.contactContainer {
    background-color: #232F3E;
    color: #fff;
}

.contactContainer h2 {
    font-size: 1.25rem;
    font-weight: bold;
}

.contactContainer a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0.5rem 0;
    font-size: 0.875rem;
}

.contactContainer a:hover {
    text-decoration: underline;
}

.contactLangBtn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.contactLangBtn button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 0.875rem;
    cursor: pointer;
}

.contactLangBtn .contactLangBtnIcon {
    display: inline-flex;
    font-size: 0.6rem;
    flex-direction: column;
    margin-left: 1rem;
}

.contactLangBtn .contactLangBtnIcon i {
    opacity: 0.7;
}

.countryFlag {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
}

.countryFlag img {
    margin: 0;
}

.countryFlag button {
    border: none;
    background-color: transparent;
    color: #fff;
}

.footer {
    background-color: #131A22;
}

.footer_links a {
    text-decoration: none;
    color: #fff;
}

.footer_links a:hover {
    text-decoration: underline;
}

.last_footer_link {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    margin-left: 1rem;
}

.last_footer_link:hover {
    text-decoration: underline;
    color: #fff;
}